/* .parallax {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190813/pngtree-horizontal-vector-halloween-banner-background-with-grunge-border-image_297712.jpg");
  
    min-height: 200px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.card {
    width: 15rem;
    margin: 0.2em;
}

.form-check-input {
    margin-left: 0.5em !important;
}

.small-gray {
    color: gray;
    font-size: small;
}

.psudeo-card {
    border-color: var(--bs-border-color-translucent);
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    word-wrap: break-word;
}

.spanner{
    position:fixed;
    top: 0;
    left: 0;
    background: #2a2a2a55;
    width: 100%;
    display:block;
    text-align:center;
    height: 300px;
    color: #FFF;
    z-index: 1000;
    visibility: hidden;
    height: 100vh;
  }
  
  .overlay{
    position: fixed;
      width: 100%;
      height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
  }
  
  .show{
    visibility: visible;
  }
  
  .spanner, .overlay{
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .spanner.show, .overlay.show {
      opacity: 1
  }